html, body {
  width:  100%;
  height: 100%;  
}

#drop_zone_label {
  margin: 1em;
  display: block;
}
.invalid {
  color: red;
  font-weight: bolder;
}
.valid {
  color: rgb(17, 187, 17);
  font-weight: bolder;
}
.button {
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
  font-size: 18px;
  cursor: pointer;
  color: rgb(0, 0, 0);
}
.tbhapus {
  color: rgb(231, 113, 45);
  font-weight: bolder;
  display: inline-block;
}
#startbtn {
  background-color: rgb(23, 228, 57);
  border-radius: 8px;
}
#stopbtn {
  background-color: rgb(231, 45, 45);
  border-radius: 8px;
}